@page
@model Presentaion.Pages.Equipments.EquipmentIndexModel

@{
    ViewData["Title"] = "EquipmentIndex";
    Layout = "_LayoutStudioPage";
}

<h2>EquipmentIndex</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Studio)
            </th>
           @* <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.Name)
            </td>
            @*<td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
